header {
    background-color: var(--cor-primaria);

    .container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 40px;
        min-height: 80px;
        max-width: 1024px;
        margin: 0 auto;
        padding: 0 20px;
    }

    .menu {
        display: flex;

        a {
            color: var(--cor-branca);
            font-size: 1.125rem;
            font-weight: 600;
            padding: 5px 10px;
            transition: 0.3s;
        }

        a:hover {
            color: var(--cor-preta);
        }
    }
}

@media screen and (max-width: 425px) {
    header {
        .container {
            justify-content: center;
            flex-direction: column;
            gap: 0;

            .menu {
                border-top: 1px solid #009fa5;
                justify-content: space-around;

                width: 100%;

                a {
                    padding: 10px;
                }
            }
        }
    }
}
