@charset "UTF-8";
@import url(/assets/css/especialidades.css);
/* CORES */
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700;1,900&display=swap");
:root {
  --cor-primaria: #00cad1;
  --cor-secundaria: #0c6e71;
  --cor-branca: #ffffff;
  --cor-preta: #0000008c;
}

/* TIPOGRAFIA */
:root {
  --fonte1: "Source Sans Pro", sans-serif;
}

/* GLOBAL */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--fonte1);
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

html {
  cursor: url("/assets/img/#"), default;
  scroll-behavior: smooth;
}

a {
  font-family: var(--fonte1);
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

/* HEADER */
header {
  background-color: var(--cor-primaria);
}

header .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 40px;
  min-height: 80px;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

header .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .menu .menu-ativo {
  color: var(--cor-preta);
}

header .menu a {
  color: var(--cor-branca);
  font-size: 1.125rem;
  font-weight: 600;
  padding: 5px 10px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

header .menu a:hover {
  color: var(--cor-preta);
}

@media screen and (max-width: 425px) {
  header .container {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 0;
  }
  header .container .menu {
    border-top: 1px solid #009fa5;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 100%;
  }
  header .container .menu a {
    padding: 10px;
  }
}

/* MAIN PÁGINA PRINCIPAL */
main .container {
  max-width: 1024px;
  margin: 0 auto;
  padding: 20px 20px 0 20px;
}

main .container .container-conteudo {
  margin-bottom: 20px;
}

main .container .container-conteudo h2,
main .container .container-conteudo h3,
main .container .container-conteudo p {
  text-align: center;
  max-width: 600px;
  margin: 20px auto;
}

main .box-visao-geral {
  background-image: url("/assets/img/recepcao.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 500px;
  padding: 0 20px 0 10px;
}

main .box-visao-geral .box-visao-geral-titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  color: #fff;
  padding: 10px;
}

main .box-visao-geral .box-visao-geral-titulo h1 {
  font-weight: 500;
  text-transform: uppercase;
  font-size: 2.375rem;
  margin: 0;
  max-width: 430px;
}

main .secao-sobre .box-sobre {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 40px;
}

main .secao-sobre .box-sobre h3 {
  font-weight: 500;
  text-transform: uppercase;
}

main .secao-sobre .box-sobre .box-sobre-lista {
  margin: 20px 40px;
}

main .secao-especialidades .box-especialidades {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
}

main .secao-especialidades .box-especialidades .box-especialidade {
  font-size: 1.125rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.4);
}

main .secao-especialidades .box-especialidades .box-especialidade figcaption {
  padding: 12px;
}

main .secao-especialidades .box-link-horarios {
  margin-top: 40px;
  text-align: center;
  padding: 10px 0;
}

main .secao-especialidades .box-link-horarios .link-horarios {
  background-color: var(--cor-primaria);
  color: var(--cor-branca);
  font-size: 1.125rem;
  font-weight: 600;
  padding: 10px 20px;
  text-transform: uppercase;
}

@media screen and (max-width: 1024px) {
  main .box-visao-geral {
    height: 400px;
  }
  main .secao-especialidades .box-especialidades {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media screen and (max-width: 768px) {
  main .box-visao-geral {
    height: 300px;
  }
  .secao-sobre .box-sobre img {
    display: none;
  }
  .secao-especialidades .box-especialidades {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 425px) {
  main .box-visao-geral {
    height: 200px;
  }
  main .box-visao-geral .box-visao-geral-titulo h1 {
    font-size: 1.75rem;
  }
}

/* FOOTER */
footer {
  background-color: var(--cor-secundaria);
  color: var(--cor-branca);
  margin-top: 60px;
}

footer .container {
  padding: 20px 0 40px 0;
  text-align: center;
}

footer .container img {
  display: inline;
}

footer .container p {
  margin-bottom: 10px;
  font-weight: 500;
}
/*# sourceMappingURL=style.css.map */